<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Anime_Downloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <userSettings>
    <Anime_Downloader.Properties.Settings>
      <setting name="TorrentClient" serializeAs="String">
        <value>C:\dummy\*exe</value>
      </setting>
      <setting name="Torrent_Files" serializeAs="String">
        <value>C:\dummy</value>
      </setting>
      <setting name="OngoingFolder" serializeAs="String">
        <value>C:\dummy</value>
      </setting>
      <setting name="RefreshCounter" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RefreshTimer" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="StatusLabel" serializeAs="String">
        <value>Status: Starting...</value>
      </setting>
      <setting name="RefreshWaitTime" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="Listbox" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>dummy</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ListboxItems" serializeAs="Xml">
        <value>
          <ArrayOfAnyType xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
      <setting name="RSS" serializeAs="String">
        <value />
      </setting>
      <setting name="Groups" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="animeitems" serializeAs="String">
        <value />
      </setting>
    </Anime_Downloader.Properties.Settings>
  </userSettings>
</configuration>
